@media only screen and (max-width: 1300px) {
  .Service_Button_Container {
    gap: 4rem;
  }
  .Service_heading,
  .ServiceSpan {
    font-size: 5.8rem;
  }
  .Service_Title {
    font-size: 1.698rem;
  }
}
@media only screen and (max-width: 1200px) {
  .Service_Button_Container {
    gap: 3rem;
  }
  .Service_heading,
  .ServiceSpan {
    font-size: 5.6rem;
  }
  .Service_Title {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 1100px) {
  .Service_heading,
  .ServiceSpan {
    font-size: 5.4rem;
  }
  .Service_Title {
    font-size: 1.48rem;
    width: 75%;
  }
}
@media only screen and (max-width: 1000px) {
  .Service_heading,
  .ServiceSpan {
    font-size: 5.2rem;
  }
  .Service_Title {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 900px) {
  .Service_heading,
  .ServiceSpan {
    font-size: 4.9rem;
  }
  .Service_Title {
    font-size: 1.388rem;
    width: 80%;
  }
}
@media only screen and (max-width: 850px) {
  .Service_Button_Container {
    gap: 2rem;
  }
  .Service_Title {
    font-size: 1.3rem;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .Service_Button_Container {
    gap: 5rem;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  .Service_heading,
  .ServiceSpan {
    font-size: 5.2rem;
    width: 35rem;
  }
  .Service_Title {
    font-size: 1.2rem;
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .Service_heading,
  .ServiceSpan {
    font-size: 5rem;
    width: 35rem;
  }
  .Service_Title {
    width: 93%;
  }
}
@media only screen and (max-width: 550px) {
  .Service_Button_Container {
    padding-bottom: 4rem;
  }
  .Service_heading,
  .ServiceSpan {
    font-size: 4.5rem;
    width: 29rem;
  }
  .Service_Title {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 400px) {
  .Service_Button_Container {
    gap: 4rem;
  }
  .Service_heading,
  .ServiceSpan {
    font-size: 4.2rem;
    width: 27rem;
  }
  .Service_Title {
    font-size: 1rem;
    width: 90%;
  }
}
@media only screen and (max-width: 360px) {
  .Service_Button_Container {
    gap: 4rem;
  }
  .Service_heading,
  .ServiceSpan {
    font-size: 4.1rem;
  }
  .Service_Title {
    font-size: .99rem;
  }
}
